<hr>

<h2 class=" bg-warning clearfix textAlign"> Verification</h2>
<div style="font-size: 100px;" class="textAlign">
    <i class="fa fa-barcode fa-lg"></i>


</div>
<div>
    <ul>
        <h6 class="alert alert-secondary">Verification Request 1 </h6>
        <li>Requester: Business 1 </li>
        <li>Date: 8/16/2019 </li>
        <li>Status : Success</li>
        <mark class="badge badge-success">No Action Needed</mark>
    </ul>
    <ul>
        <h6 class="alert alert-secondary">Verification Request 2 </h6>
        <li>Requester: Business 2 </li>
        <li>Date: 8/16/2019 </li>
        <li>Status : Scheduled</li> <button class="btn btn-primary">Click to Approve</button>
    </ul>
</div>
<div style="font-size: 100px;" class="textAlign">
    <a routerLink=""><button class="btn btn-success btnMargin ">Logout</button> </a>
</div>