<div class="jumbotron"> Request for VID
    <!-- <h2>{{}}</h2> -->
    <form>
        <div class="form-group">

            <input required ngModel name="firstName" id="firstName" type="text" placeholder="First Name" #userName="ngModel" class="form-control">
            <input required ngModel name="lastName" id="lastName" type="text" placeholder="Last Name" #userName="ngModel" class="form-control">
            <input required ngModel name="dob" id="dob" type="date" placeholder="Date of Birth(mm/dd/yyyy)" #userName="ngModel" class="form-control">
            <input required ngModel name="email" id="email" type="text" placeholder="Email" #userName="ngModel" class="form-control">
            <input required ngModel name="license" id="license" type="text" placeholder="License" #userName="ngModel" class="form-control">
            <input required ngModel name="street" id="street" type="text" placeholder="Streen of Operation" #userName="ngModel" class="form-control">
            <input required ngModel name="zipCode" id="zipCode" type="text" placeholder="Zip Code" #userName="ngModel" class="form-control">

        </div>
        <div>
            <button class="btn btn-primary form-control btnMargin">Request</button>
            <br/>
            <br/>
            <a routerLink=""><button class="btn btn-success btnMargin">Logout</button> </a>
        </div>

    </form>
</div>