<div class="jumbotron">
    <div class="form-group">
    </div>
    <div *ngIf="loginDetails.data.msg.VendorStatus == 'verified'">
        <!-- <button (click)="requestVid()" class="btn btn-primary form-control btnMargin">Request Your VID</button> -->
        <div *ngIf="loginDetails">
            <!-- <h2>Request Submitted</h2> -->
            <h2>Welcome {{loginDetails.data.msg.FirstName}}</h2>
            <h6 class="blockquote-footer"><em>Your VID has been verified by the City Council</em> </h6>
            <br>
            <div style="font-size: 100px;" class="textAlign">
                <i class="fa fa-barcode fa-lg"></i>

            </div>
            <mark>{{loginDetails.data.msg.VendorIdentity}}</mark>

            <div>
                <br>
                <ul>License Number : {{loginDetails.data.msg.LicenseNumber}}</ul>
                <!-- <li><mark>Vendor Identity : {{loginDetails.data.msg.VendorIdentity}}</mark></li> -->
                <ul>Street: {{loginDetails.data.msg.Street}}</ul>
                <ul>Zip Code : {{loginDetails.data.msg.ZipCode}}</ul>
                <ul>Status : {{loginDetails.data.msg.VendorStatus}}</ul>

            </div>


            <br>

            <!-- <h3>{{onClickResponseVid.data.msg}}</h3> -->
            <!-- RENDERING THE BUTTONS AFTER SUCCESS IN THE THE REPONSE -->
            <div>
                <!-- <hr> -->
                <a routerLink="/user/verification"><button class="btn btn-outline-primary">Verification</button></a>
                <a routerLink="/user/inspection"><button class="btn btn-outline-info">Inspection</button></a>
                <a routerLink="/user/trustscore"><button class="btn btn-outline-success">Trust Score</button> </a> {{responseVid.data.msg.Email}}
            </div>
        </div>
        <br/>
        <br/>

    </div>
    <div *ngIf="loginDetails.data.msg.VendorStatus != 'verified'">

        <div *ngIf="loginDetails">

            <div>
                <h2>Welcome {{loginDetails.data.msg.FirstName}}</h2>
            </div>

            <!-- <h2>Request Submitted</h2> -->
            <li>FirstName : {{loginDetails.data.msg.FirstName}}</li>
            <li>Last Name : {{loginDetails.data.msg.LastName}}</li>
            <li>Email : {{loginDetails.data.msg.Email}}</li>
            <li>License Number : <mark>{{loginDetails.data.msg.LicenseNumber}}</mark></li>
            <li>VID Status : <mark>{{loginDetails.data.msg.VendorStatus}}</mark></li>
            <br>
            <h6 class="blockquote-footer"><em>Enter Street of operation & zip Code for verification to request VID</em> </h6>
            <br>
            <input required ngModel name="street" id="street" type="text" placeholder="Streen of Operation" #userName="ngModel" class="form-control">
            <input required ngModel name="zipCode" id="zipCode" type="text" placeholder="Zip Code" #userName="ngModel" class="form-control">
            <br>
            <button (click)="requestVid()" class="btn btn-primary form-control btnMargin">Request Your VID</button>
            <h3>{{onClickResponseVid.data.msg}}</h3>
            <!-- RENDERING THE BUTTONS AFTER SUCCESS IN THE THE REPONSE -->
            <!-- <div>
                    <hr>
                    <a routerLink="/user/verification"><button class="btn btn-outline-primary">Verification</button></a>
                    <a routerLink="/user/inspection"><button class="btn btn-outline-info">Inspection</button></a>
                    <a routerLink="/user/trustscore"><button class="btn btn-outline-success">Trust Score</button> </a> {{responseVid.data.msg.Email}}
                </div> -->
        </div>
        <br/>
        <br/>

    </div>


    <!-- </form> -->
    <a routerLink=""><button class="btn btn-success btnMargin ">Logout</button> </a>
</div>